/*!
 * Start Bootstrap - Busines Frontpage (http://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
       padding-top: 56px;
    }
}

.business-header {
    height: 150px;
    min-height: 150px;
    background: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    display: none;

}

.card {
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .navbar {
        position: relative;
    }
    .navbar .navbar-nav {
        float: none;
    }

}